{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

  
    {% block title %}
        Flower Child Remedies - {{ block.super }}
    {% endblock title %}


    {% block content %}
        {% for product in products %}
        <div class="w-30 mr3 mt3 mb3">
            <img src="{{ static }}{{ product.picture.url }}">
            {% comment %} alt="{{ product.name  }}, {{ product.description }}" {% endcomment %}
            <h2><a href="{% url 'product_detail' slug=product.slug %}">
                {{ product.name }}
            </a></h2>
            <p>{{ product.description }}</p>
            <h2>{{ product.price }}</h>
        {% endfor %}
    {% endblock content %}        
       