{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

  
    {% block title %}
        Flower Child Remedies - {{ block.super }}
    {% endblock title %}


    {% block content %}
        {% for product in products %}
        <div class="w-30 mr3 mt3 mb3">
            {% if product.picture %}
            <a href="{% url 'product_detail' product_id=product.id %}">
            <img src="{{ product.picture.url }}" alt="{{ product.name  }}, {{ product.description }}">
            </a>
            {% endif %}
            <h2><a href="{% url 'product_detail' slug=product.slug %}">
                {{ product.name }}
            </a></h2>
            <p>{{ product.description }}</p>
            <h2>{{ product.price }}</h>
        {% endfor %}
    {% endblock content %}        
       